<div class="container">
  <div class="card">
    <div class="card-body">
      Modification utilisateur
    </div>
  </div>
  <div class="row">
        <h2 class="mb-4">Modification utilisateur</h2>
      </div>

  <div *ngIf="currentUser">
  <input type="hidden" value="{{currentUser._id}}"/>
  <div>
    <table>
  <tr>
    <td><label><strong>Nom: </strong></label></td>
    <td><input [(ngModel)]="currentUser.name" placeholder="name"/></td></tr>
    <tr>
    <td><label><strong>Mail: </strong></label></td>
    <td><input [(ngModel)]="currentUser.email" placeholder="email"/></td></tr>
    <tr>    
    </tr>
</table>
  </div>
  <br>
  <button class="btn btn-outline-info"(click)="update()">Modifier</button>
  <button class="btn btn-outline-warning"(click)="annuler()">Annuler</button>
  </div>
</div>
