<div class="auth-wrapper">
  <div class="card">
    <div class="card-body">
      Please sign in
    </div>
  </div>
  <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h3>
    <div class="form-group">
      <label>Mail</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Courriel" required>
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" class="form-control" formControlName="password" placeholder="*******">
    </div>
    <button type="submit" class="btn btn-block btn-primary">Connexion</button>
  </form>
</div>
