<div class="container">
  <div class="card">
    <div class="card-body">
      Profil utilisateur
    </div>
  </div>
  <div *ngIf="currentUser">
  <!-- <form class="form-update" [formGroup]="updateForm" (ngSubmit)="update()">
      <h3 class="h3 mb-3 font-weight-normal text-center">Modification</h3>
      <div class="form-group">
            <input type="hidden" formControlName="_id" value="{{currentUser._id}}"/>
          <label>Nom</label>
          <input class="form-control" formControlName="name" id="name" value="{{currentUser.name}}" required/>
      </div>
      <div class="form-group">
          <label>Mail</label>
          <input class="form-control" formControlName="email" value="{{currentUser.email}}" />
      </div>
      <div class="form-group">
          <label>Mot de passe</label>
          <input class="form-control" formControlName="password" type="password" />
      </div>
      <button type="submit" class="btn btn-block btn-primary">Modifier</button>
  </form> -->
  <div><span>id: </span>{{currentUser._id}}</div>
  <div>
    <label>name: <input [(ngModel)]="currentUser.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>email: <input [(ngModel)]="currentUser.email" placeholder="email"/>
    </label>
  </div>
  <div>
    <label>password: <input/>
    </label>
  </div>
  <button class="btn btn-outline-success"(click)="update()">Modifier</button>
  </div>
</div>
